extends ../layout

block content
  .container.mt-4
    .row
      .col
        .card.shadow.mb-4
          .card-header.bg-primary.text-white.d-flex.justify-content-between.align-items-center
            h4.mb-0 Communities
            if user
              a.btn.btn-light.btn-sm(href='/communities/create') Add Community
          .card-body
            if communities.length
              table.table.table-hover
                thead
                  tr
                    th Name
                    th Type
                    th Members
                    th Actions
                tbody
                  each community in communities
                    tr
                      td
                        a(href=`/communities/${community._id}`) #{ community.name }
                      td.text-capitalize #{ community.type }
                      td #{ community.members.length }
                      td
                        if user
                          - const isMember = community.members.some((m) => m.user && m.user._id.toString() === user._id.toString());
                          if !isMember
                            form.d-inline(method='post', action=`/communities/${community._id}/join`)
                              input(type='hidden', name='_csrf', value=csrfToken)
                              button.btn.btn-sm.btn-success(type='submit') Join
                          else
                            span.text-success Member
                        else
                          span.text-muted N/A
            else
              p.text-muted No communities found.

  // Optionally, add a modal or separate page for creating/editing communities
